:root {
    --primary: #206ba4;
    --primary-light: #6699cc;
}

.btn-primary,
.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    color: #fff;
    background-color: #206ca4;
    border-color: #578eb6;
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--primary);
}
